@model  SalesSite.Models.Account;
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin" asp-action="Login" method="post">
                            <input type="hidden" asp-for="id" />
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="Name" />
                            <div class="form-label-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            
                            <input type="submit" value="Save" class="btn btn-default btn btn-lg btn-primary btn-block text-uppercas" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>