@model int
@{
    ViewData["Title"] = "Error";
}
<body>
    <h1>@ViewData["Title"]</h1>  
    <h1 class="text-center text-danger">Error: Code @Html.DisplayFor(x=>x)</h2>  
    <a id="footer" asp-action="Index" asp-controller="Home">Return To Home</a>
</body> 